@model Restaurent.Models.ViewModels.MenuItemViewModel
@using Restaurent.Extensions
<br />
<h2 class="text-info" style="color:white">Edit MenuItem</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhiteBorder row">
        <input type="hidden" asp-for="MenuItem.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class=" col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Name" disabled class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(x => x.MenuItem.Description)
                </div>
                <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MenuItem.Price" disabled class="form-control" />
                </div>
                <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" disabled multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8"> 
                    <select asp-for="@Model.MenuItem.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectListItem(Model.MenuItem.CategoryId)" disabled class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.MenuItem.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" disabled class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<Restaurent.Models.MenuItem.Spicy>()" disabled class="form-control"></select>
                </div>
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
        </div>

        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DeleteAndBackToListButtons" model="Model.MenuItem.Id" />
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code pageembed permanentpen',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
        });
        $('#CategoryId').change(function () {
            getSubCategory();
        });

        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/Subcategory/GetSubCategory";
            var catgoryId = '#CategoryId';
            $.getJSON(url, { id: $(catgoryId).val() }, function (data) {
                var item = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    item += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });
                $('#SubCategoryId').html(item);
            });
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}